<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindscope - "Scope" out your mind</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 id="firstH1">MINDSCOPE</h1>
    <p id="slogan">Discover new perspective</p>
    
    <nav class="navbar">
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="report.html">Class Report</a></li>
          <li><a href="#">Visualization</a></li>
        </ul>
      </nav><br><br><br>

    <div id="image-container">
        <img src="visualization_example.jpg" id="visual">
    </div>

    <script src="script.js"></script>
</body>
</html>